<div class=" card-group">
    <div class="col-md-4 col-sm-12" *ngFor="let usuario of peliculas">
        <div class="card">
            <img src="{{usuario.url}}" class="card-img-top" alt="{{usuario.url}}">
            <div class="card-body ">
                <h3>{{usuario.nombre}}</h3>
                <h5 class="card-title">Fecha de Estrenos {{usuario.fechaEstreno}}</h5>
                <p class="card-text">Cantidad Espectadores {{usuario.fechaEstreno}}</p>
                <p class="card-text">Actor Principal{{usuario.actor}}</p>

                <!-- <button class=" btn blue-gradient col-5 " style="padding: 0" (click)="eliminar(usuario)">Eliminar</button> -->
                <app-boton-eliminar [peliculas]="usuario"></app-boton-eliminar>


                <!--   <button class="btn aqua-gradient col-5 " style="padding: 0 ">Modificar</button> -->

            </div>
        </div>
    </div>
</div>