<main>
    <div class="row" style="margin-top: 5%">
        <div class="col-6 ">
            <app-alta-producto></app-alta-producto>>
        </div>
        <div class="col-6">
            <app-alta-usuario> </app-alta-usuario>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-listado-producto></app-listado-producto>
        </div>

        <div class="col-6">
            <app-listado-usuarios></app-listado-usuarios>
        </div>

    </div>

</main>
