<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container animated bounceInRight">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="./home" target="_blank">
                <strong class="blue-text">Primer Parcial</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            </div>

        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Jumbotron-->
        <section class="card wow animated bounceInLeft " style="background-image: url(../../assets/fondo.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center  ">

                <h1 class="mb-4">
                    <strong> Primer Parcial de Laboratorioa 4
                        <p>Lucila Rizzi -Mecon- </p>
                    </strong>
                </h1>
                <p class="mb-4">
                    <strong>un proyecto basado en Angular/Firebase</strong>
                </p>

            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <!--Section: Magazine v.1-->
        <div class="row my-3 animated bounceInRight">
            <div class="col-1"></div>
            <div class="col-10">
                <app-cargar-pelicula></app-cargar-pelicula>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row my-3">
            <div class="col-1"></div>
            <div class="col-10">
                <app-actor-alta></app-actor-alta>
            </div>
            <div class="col-1"></div>
        </div>
        <hr class="my-5">

        <section class="wow fadeIn">

            <div class="row my-3 animated bounceInLeft">
                <div class="col-8">
                    <h2 class="h1 text-center font-weight-bold">Peliculas
                    </h2>
                </div>
                <div class="col-3">
                    <app-buscar (mandarTecla)="mapear($event)"></app-buscar>
                </div>
            </div>
            <!--Section heading-->


            <!--Grid row-->
            <div class="row text-center animated bounceInRight">
                <app-peliculas [peliculas]="todasPeliculas"></app-peliculas>
            </div>
            <!--Grid row-->

        </section>
        <!--/Section: Magazine v.1-->


    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="https://luloop.com.ar" target="_blank" role="button">Luloop.com
            <i class="fas fa-home"></i>
        </a>
        <a class="btn btn-outline-white" href="https://github.com/luloop" target="_blank" role="button">Gitub Luloop
            <i class="fab fa-github"></i>
        </a>
    </div>
    <!--/.Call to action-->

    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © Lalala quiero llorar
        <a href="https://luloop.com.ar" target="_blank"> ;_; </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->