<!--Section heading-->
<div class="row text-center">
    <div class="col-4">
        <!--       <h2 class="h2-responsive font-weight-bold text-center ">Realizar Pedido
        </h2> -->
    </div>
    <div class="col-4 " >
        <button type="button" class="btn btn-danger" (click)="terminarPedido()">Confirmar pedido $ {{total}}</button>
    </div>
    
    <div class="col-4 " >
        <button type="button" class="btn btn-primary" *ngIf="pedirDeNuevo" (click)="terminarPedido()">Desea volver a pedir?</button>
    </div>
</div>


<div class="row mt-5">
    <div class="card col-md-6 col-lg-3" *ngFor="let producto of pedido">
        <div class=" card-body ">
            <div appColorBadgeArea [estado]="producto.tipo"> {{producto.tipo | areas}} </div>
            <h5 class="mb-4">{{producto.nombre}}</h5>
            <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                    <img src="{{producto.url}}" class="img-thumbnail" alt="{{producto.url}}"
                        style="max-width:180px;max-height:180px; margin-left: auto; margin-right: auto;   height:auto;">
                </div>
            </div>
            <h3 class="grey-text-bold my-4" style="color: brown;">$ {{producto.stock}}</h3>
            <p class="grey-text"> {{producto.descripcion}}</p>
                <i class="fas fa-trash-alt" size="large" (click)=" eliminar(producto)"></i>
        </div>
    </div>
</div>