<!-- Material inline 1 -->
<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general1" name={{nombre}} value='1' (change)="handleChange($event)">
    <label class="form-check-label" for="general1">1</label>
</div>

<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general2" name={{nombre}} value='2' (change)="handleChange($event)">
    <label class="form-check-label" for="general2">2</label>
</div>

<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general3" name={{nombre}} value='3' (change)="handleChange($event)">
    <label class="form-check-label" for="general3">3</label>
</div>
<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general3" name={{nombre}} value='4' (change)="handleChange($event)">
    <label class="form-check-label" for="general3">4</label>
</div>
<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general3" name={{nombre}} value='5' (change)="handleChange($event)" >
    <label class="form-check-label" for="general3">5</label>
</div>

<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general6" name={{nombre}} value='6' (change)="handleChange($event)">
    <label class="form-check-label" for="general6">6</label>
</div>

<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general7" name={{nombre}} value='7' (change)="handleChange($event)">
    <label class="form-check-label" for="general7">7</label>
</div>

<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general8" name={{nombre}} value='8' (change)="handleChange($event)">
    <label class="form-check-label" for="general8">8</label>
</div>
<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general9" name={{nombre}} value='9' (change)="handleChange($event)">
    <label class="form-check-label" for="general9">9</label>
</div>
<div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="general10" name={{nombre}} value='10' (change)="handleChange($event)" checked>
    <label class="form-check-label" for="general10">10</label>
</div>