<div id="id01" style="display:flex; padding: 15px;" class="modal">
    <span (click)="destruir()" class="close h1" title="Close Modal" style="font-size: 60pt;text-align: left">×</span>

    <div class="col-6">
        <div class="card">
            <div class="row my-3 animated bounce ml-4">
                <h2 class="h1 text-center font-weight-bold">Producto Elegido
                </h2>
            </div>
            <img src="{{producto.url}}" class="card-img-top" alt="{{producto.url}}" style=" max-height: 300px;  margin-left: auto; margin-right: auto;   width:auto;">
            <div class=" card-body ">
                <h3>{{producto.nombre}}</h3>
                <p class="card-text ">Descripcion {{producto.descripcion}}</p>
                <p class="card-text ">Stock {{producto.stock}}</p>
                <!--                 <app-boton-eliminar [peliculas]="producto "></app-boton-eliminar>

                <app-boton-agregar [peliculas]="producto "></app-boton-agregar> -->

            </div>
        </div>
    </div>

</div>