<!--Section: Contact v.2-->
<section class="general mb-4 form-group">

    <!--Section heading-->
    <div class="col-12 text-center">
        <h2 class="h2-responsive font-weight-bold text-center my-4">Nuevo Actor
            <ng-container></ng-container>

            <mdb-icon id="cargar" fas icon="angle-down" (click)="mostrar()" *ngIf="!ver"></mdb-icon>
            <mdb-icon fas icon="angle-up" (click)="mostrar()" *ngIf="ver"></mdb-icon>

        </h2>
    </div>


    <!--Section description-->

    <div class="row animated fadeInDown" *ngIf="ver">

        <!--Grid column-->

        <div class="col-md-1 text-center">
        </div>
        <div class="col-md-10 mb-md-0 mb-5">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="name" name="name" placeholder="Nombre" class="form-control" [(ngModel)]="actorNuevo.nombre" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="name" name="name" placeholder="Apellido" class="form-control" [(ngModel)]="actorNuevo.apellido" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="md-form mb-0">
                        <input type="date" id="fechaNacimiento" min="100" placeholder="080484" class="form-control" [(ngModel)]="fechaNacimiento" required>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="md-form mb-0">
                        <input type="text" id="Nacionalidad" placeholder="Nacionalidad" name="Nacionalidad" class="form-control" [(ngModel)]="actorNuevo.nacionalidad" required>
                    </div>
                </div>

            </div>

            <div class="text-center text-md-left">

                <button type="button" class="btn btn-secondary" (click)="cargar()">Enviar</button>

            </div>
            <div class="status"></div>
        </div>

        <div class="col-md-1 text-center">

        </div>


    </div>

</section>