<!-- <div class="container">
<div class="grid-container"> 
    <div *ngFor="let character of allCharacters | async " >
    
        
            <div *ngIf="character.description!=''">
                <app-character [character]="character"></app-character>
            </div>  
    </div>
</div>
</div> -->

<div fxFlex fxLayout="column">
    <div fxLayout="row wrap">
        <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column"
            *ngFor="let character of allCharacters | async" style="padding: 5px;">
            <app-character [character]="character"></app-character>
        </div>
    </div>
</div>