<div class="row">
    <div class="col-5">
        <div class="col-12">
            <h4 class="feature-title">Estado de Tu Mesa</h4>
        </div>
        <div>
            <img src="{{nroMesa.url}}" class="col-12">
        </div>
        <div class=" card-body ">
            <div class="row">
                <div class="col-12">
                    <h4 class=" feature-title mt-3">Mesa {{nroMesa.numero}}</h4>
                    <p class="grey-text">Cantidad de comensales: {{nroMesa.cantidadComensales}} </p>
                </div>
                <div class="col-12  " style="font-weight: bold; color:brown" *ngIf="nroMesa.estado=='ocupada'">Estado
                    {{nroMesa.estado}} </div>
                <div class="col-12  " style="font-weight: bold; color:rgb(42, 44, 165)"
                    *ngIf="nroMesa.estado=='comiendo'">Estado {{nroMesa.estado}} </div>
                <div class="col-12  " style="font-weight: bold; color:rgb(236, 205, 26)"
                    *ngIf="nroMesa.estado=='reservada'">Estado {{nroMesa.estado}} </div>
                <div class="col-12  " style="font-weight: bold; color:rgb(46, 165, 42)"
                    *ngIf="nroMesa.estado=='disponible'">Estado {{nroMesa.estado}} </div>
                <div class="col-12  " style="font-weight: bold; color:rgb(9, 88, 6)"
                    *ngIf="nroMesa.estado=='esperandoComida'">Estado {{nroMesa.estado}} </div>
                <div class="col-12  " style="font-weight: bold; color:rgb(9, 88, 6)"
                    *ngIf="nroMesa.estado=='cuentaPedida'">Estado {{nroMesa.estado}} </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h4 class="feature-title">Pedidos en su mesa</h4>
        <div *ngFor="let productos of pedidos">
            <hr>
            <h4 class="feature-title">Área de {{productos.area | areas}}: <br>
                <p class="grey-text" *ngIf="productos.tiempo_espera != -1 "> Tiempo estimado
                    {{productos.tiempo_espera }} minutos </p>
                <span appColorPedido [estado]="productos.estado"
                    style="font-size:  10pt;">{{productos.estado | estados}}</span>
            </h4>
            <ul>
                <li *ngFor="let producto of productos.productos">
                    <div class="row">
                        <div class="col-9"> Producto: {{producto.nombre}}</div>
                        <div class="col-3"> $ {{producto.stock}} </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>
<div class="row" *ngIf="nroMesa.estado!='cuentaPedida'">
    <div class="col-12"><button type="button" class="btn btn-dark btn-block col-12" (click)="cerrarMesa()"
            *ngIf="nroMesa.estado=='comiendo'">Click aquí para finalizar la comida</button></div>

</div>