<mat-card mat-card>
    <mat-card-header>
        <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
            alt="{{character.name}}">
    </mat-card-header>
    <mat-list>
        <mat-card-title>
            {{character.name}}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            {{character.description}}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions mat-card-footer>
            <button mat-button>
                <a href="{{character.urls[0].url}}" target="_blank" fxFlex mat-flat-button color="primary">
                    Detalles del personaje
                </a>
            </button>
        </mat-card-actions>
    </mat-list>
</mat-card>