<table mdbTable>
    <thead>
        <tr>
            <div class="col-md-8">
                <div class="md-form mb-0">
                    <select class="browser-default custom-select" id="actor" (change)="mapear(title)" required>                    
                                <option *ngFor="let title of actoresSelect" 
                                [value]="title.apellido" 
                               >{{title.nombre}} {{title.apellido}}</option>
                            
                        </select>
                </div>
            </div>
            <th *ngFor="let head of peliculas" scope="col">PeliculasPorActor {{actorElegido}} </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let el of todasPeliculas">
            <th scope="row">{{el.nombre}}</th>
            <td>{{el.nombre}}</td>
            <td>{{el.tipo}}</td>
            <td>{{el.fechaEstreno}}</td>
            <td>{{el.cantidadPulico}}</td>
            <td><img src="{{el.url}}" style="zoom: 0.1"></td>

        </tr>
    </tbody>
</table>